* {
   box-sizing: border-box;
   margin: 0;
}

:root {
   --gradient-background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
   --primary-header: hsl(238, 29%, 16%);
   --text-red: hsl(14, 88%, 65%);
   --text-med-grey: hsl(237, 12%, 33%);
   --text-light-grey: hsl(240, 6%, 50%);
   --divider: hsl(240, 5%, 91%);
   font-size: 12px;
}

body {
   font-family: 'Kumbh Sans', sans-serif;
   background-image: var(--gradient-background);
}

.main__container {
   min-height: 100vh;
   padding-left: 3rem;
   padding-right: 3rem;
}

.container--center {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.faq {
   max-width: 375px;
   margin-top: 2rem;
   padding: 2rem;
}

.faq__image-container {
   text-align: center;
   z-index: 10;
}

.faq__mobile-image {
   width: 80%;
}

.faq__image--background {
   position: relative;
   top: -6.5rem;
   margin-bottom: -6.5rem;
   text-align: center;
}

.card {
   position: relative;
   top: -9.75rem;
   display: flex;
   flex-direction: column;
   margin-bottom: -9.75rem;
   border-radius: 3rem;
   background-color: white;
   padding: 11.5rem 1.75rem 4rem 1.75rem;
}

.faq__title {
   font-weight: 700;
   font-size: 2.5rem;
   color: var(--primary-header);
   align-self: center;
   margin-bottom: 2rem;
}

.faq__question-container {
   margin: 1.1rem 0 0 0;
   padding-bottom: 1.1rem;
   border-bottom: 1px solid var(--divider);
}

.faq__question-accordion {
   display: flex;
   justify-content: space-around;
   margin-bottom: 1rem;
   cursor: pointer;
}

.faq__question-text {
   width: 90%;
   font-size: 1.1rem;
   font-weight: 400;
   color: var(--text-med-grey);
}

.question-accordion--arrow {
   width: 10%;
   text-align: right;
}

.faq__answer {
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5rem;
   color: var(--text-light-grey);
}

.item--hide {
   display: none;
}

.js-hide {
   display: none;
}

.js-bold {
   font-weight: bold;
   font-size: 1.16rem;
}

@media (min-width: 1025px) {
   .faq {
      position: relative;
      max-width: 920px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 4rem;
      width: 100%;
      background-color: white;
      border-radius: 3rem;
      background-image: url("/images/bg-pattern-desktop.svg");
      background-origin: border-box;
      background-repeat: no-repeat;
      background-position: left -49rem top 70%;
   }

   .faq__image-container {
      width: 50%;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   .test {
      overflow: hidden;
      margin-left: -37px;
   }

   .card {
      width: 50%;
      position: static;
      top: 0;
      margin-bottom: 0;
      display: flex;
      flex-direction: column;
      padding: 3.5rem 1.75rem 3.5rem 1.75rem;
      border-radius: 0;
   }

   .faq__mobile-image {
      display: none;
   }

   .faq__mobile-background-image {
      display: none;
   }

   .faq__desktop-woman {
      margin-left: -35%;
   }

   .faq__image--background {
      position: static;
      top: 0;
      margin-bottom: 0;
      text-align: 0;
   }

   /* .faq__desktop-background {
      position: absolute;
      top: -45%;
      left: -62%;
   } */

   .faq__desktop-box {
      position: absolute;
      top: 38%;
      left: -35%;
   }

   .item--hide {
      display: inline;
   }

   .faq__title {
      align-self: start;
   }

}